%h1 Issues

- @issues.each do |issue|
  .jumbotron
    %h2= link_to issue.topic, issue_path(issue)
    %span.pull-right= issue.meetoo_count
    %p= issue.description
    =form_for issue do |i|
      = i.hidden_field "add_meetoo", value: 1
      = i.submit "Mee too", class: "btn default"

= link_to "New Issue", new_issue_path, class: "btn btn-primary"