%p#notice= notice

%p
  %b Topic:
  = @issue.topic
%p
  %b Description:
  = @issue.description
%p
  %b Meetoo count:
  = @issue.meetoo_count

= link_to 'Edit', edit_issue_path(@issue)
\|
= link_to 'Back', issues_path
